
.juduls{
    border: 1px solid #2f354262;
    width: 1319px;
    margin-left: -12px;
    padding-left:50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#fff;
    margin-top:200px;
    text-align: center;
}